*{
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    margin:0 auto;
    padding:0;
}
.title{
    background-color:black;
    color: white;
    margin:0;
    padding: 1px 2px;

}

.title > h2{
    margin-left: 10px;
}
.big-page{
    height: 90vh;
    background-image: linear-gradient(119deg, #003366 0%, #0F52BA 100%);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}
.welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    color: rgb(226, 23, 233);
    transition: 1s all;
}
.motto{
    font-size: 20px;
}
.big-text>.welcom,
.big-text> .motto{
    letter-spacing: 6px
}
.btn{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(27, 27, 29);
    background-color: rgba(216, 28, 169, 0.041);
    padding: 9px 15px;
    border-radius: 29px;
    border: 1px rgb(20, 20, 20) solid;
    transition: 0.9a all;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 1px black solid

}

